{{!-- <!-- this needs a boolean option -->
                <div class="col-md-6">
                    <div class="inputs"> <label>Pet Owner ?*</label> <input class="form-control" type="text"
                            id="isOwner" placeholder="Yes/No*"> </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs"> <label>Address*</label> <input class="form-control" type="text"
                            id="address" placeholder="Enter street address*"> </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs"> <label>City*</label> <input class="form-control" type="text"
                            id="city" placeholder="City*"> </div>
                </div>
                <!-- this needs a choice option -->
                <div class="col-md-6">
                    <div class="inputs"> <label>State*</label> <input class="form-control" type="text"
                            placeholder="Pick State*"> </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs"> <label>Zip Code*</label> <input class="form-control" type="text"
                            id="state" placeholder="Enter 5 digit zip code*"> </div>
                </div>
                <!-- this needs a choice option -->
                <div class="col-md-6">
                    <div class="inputs"> <label>Country*</label> <input class="form-control" type="text"
                            id="country" placeholder="Choose a country *"> </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs"> <label>Phone Number</label> <input class="form-control" type="text"
                            id="phone" placeholder="Optional"> </div>
                </div>
                <!-- this needs a choice option --> --}}