<div class="row login-page">
    <h2>Login</h2>

    <form class="login-form">
      <div>
        <label for="email-login">Email:</label>
        <input class="form-input" type="email" id="email-login" />
      </div>
      <br>
      <div>
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <br>
      <div>
        <button class="btn btn-secondary" type="submit">Login</button>
      </div>
    </form>

    <div>
      <p>Not a user yet? <a href="/signup">Sign Up</a></p>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>
