<div class="row signup-page">
    <h2>Sign Up</h2>

    <form class="form signup-form">
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input class="form-input" type="text" id="firstname" />
        </div>
        <br>
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input class="form-input" type="text" id="lastname" />
        </div>
        <br>
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-input" type="text" id="username" />
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-input" type="text" id="email" />
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password: </label>
            <input class="form-input" type="password" id="password" />
        </div>
        <br>
        <div class="form-group">
            <label for="phone">Phone: </label>
            <input class="form-input" type="text" id="phone" />
        </div>
        <br>
        <div class="form-group">
            <label for="owner">Are you a owner: </label>
            <select name="ownerYorN" id="owner">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-secondary" type="submit">Sign Up</button>
        </div>
    </form>
</div>

<script src="./js/signup.js"></script>