:root {
    --logo-title-font-family: 'Solway', serif;
    --title-font-family: 'Montserrat', sans-serif;
    --landing-title-color: #69777E;
    --landing-background: #CFD9DC;
    --orange-button: #E6824A;
    --brown-button: #BD8D75;
    --cat-grey: #9F9F97;
    --dog-brown: #745042;
}

* {
    font-family: var(--title-font-family);
}

.btn {
    background-color: var(--orange-button);
    border: var(--orange-button);
}

#btn-signup {
    background-color: var(--orange-button);
    border: var(--orange-button);
    width: 9rem;
}

#btn-login {
    background-color: var(--brown-button);
    border: var(--brown-button);
    width: 9rem;
}

/* navbar logo */
.navbar-brand {
    font-family: var(--logo-title-font-family);
    font-weight: 800;
}

#nav-text {
    color: var(--landing-title-color);
}

/* landing page style */
.landing-background {
    background-color: #CFD9DC;
}

#landing-title {
    font-family: var(--logo-title-font-family);
    font-size: 4.5rem;
    font-weight: 800;
    color: var(--landing-title-color);
}

#landing-description {
    font-family: var(--logo-title-font-family);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--landing-title-color);
}

#landing-bg-img {
    background-color: #CFD9DC;
}

#landing-card {
    border: 0;
}